# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# Unneeded files
*.suo
*.user

# mstest test results
TestResults

# others
/libraries
/packages
/Modern Minas.sln.ide
/externals/log4net.patch/log4net.xml
/externals/log4net/build/
