<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sharpcompress" version="0.8.2" targetFramework="net35" />
  <package id="System.Data.SQLite" version="1.0.85.0" targetFramework="net35-Client" />
  <package id="System.Threading.Tasks" version="3.0.1" targetFramework="net35" />
</packages>